.inter-normal {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-optical-sizing: auto;
    font-style: normal;
}

.inter-light {
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-optical-sizing: auto;
    font-style: normal;
}

:root {
    --background-color-dark: rgb(5, 10, 5);
    --background-color-light: rgb(250, 245, 250);

    --main-color-dark: rgb(76, 0, 168);
    --main-color-light: rgb(38, 206, 252);

    --border-color: rgba(255,255,255,0.4);
}

html, body {
    overflow: hidden;
    margin: 0;
}

html {
    line-height: 1;
}

h1 {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

ul li::marker {
    content: "";
}

ul li span {
    margin-right: 15px;
    font-size: 10px;
}

main {
    display: grid;
}

.container {
    display: grid;
    grid-template-columns: 0.1fr 1fr 1fr 1fr 0.1fr;
    grid-template-rows: 0.07fr 0.1fr 0.1fr 1fr 0.3fr 0.07fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: var(--background-color-dark);
    height: 100vh;
    width: 100vw;
}
    
.background {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: -1rem;

    z-index: -1;
    filter: blur(10px);
    background: radial-gradient(circle at var(--sun-x, 50%) var(--sun-y, 50%), #2d0067, var(--background-color-dark) 80%);
}

.sun-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.sun-container img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    background-color: var(--background-color-dark);
    height: 100%;
    scale: 6%;
    border-radius: 50%;
    filter: invert(12%) sepia(100%) saturate(7451%) hue-rotate(270deg) brightness(86%) contrast(119%);
}

.sun-container path#curve {
    position: absolute;
    height: 100%;
    width: 100%;
}

.content { 
    position: relative;
    grid-area: 2 / 2 / 6 / 5; 
    padding: 1rem;
    margin-left: -1.0rem;
    margin-right: -1.0rem;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.nameHeader {
    grid-area: 2 / 2 / 3 / 3;
    margin-bottom: -10px;
    margin-top: 0;
}

.nameHeader > h1 {
    margin: 0;
    font-size: 40px;
}

.navbar {
    padding: 0;
    grid-area: 3 / 2 / 4 / 3;
    width: 17%;
    margin-top: 2vh;
    margin-bottom: auto;
}

.navbar ul {
    padding: 0;
    padding-left: 2px;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
}

.navbar li:hover {
    opacity: .25;
    transition: .25s
}

/* .skills {
    position: absolute;
    bottom: 10px;
    left: 13px;

    display: flex;
    grid-area: 5 / 2 / 6 / 3;
    width: 12rem;
    height: 12rem;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 5px;
}

.skill-circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: var(--border-color);
    background-color: var(--background-color-dark);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.15) 0%, rgba(5, 10, 5, 1) 100%);
    display: flex;
    position: relative;
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.2);
}

.skills img {
    height: 47px;
    width: 40px;
    position: absolute;
}


.python-logo {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.cpp-logo {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.html-logo {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.css-logo {
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
} */

.socialnav {
    grid-area: 5 / 4 / 6 / 5;
    display: flex;
    position: relative;
    width: 30%;
    justify-content: flex-end;
    left: 70%;
}

.socialnav ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

.socialnav li:hover a {
    transform: rotateY(15deg) translateZ(0);
    transform-origin: left center;
    transition: all .25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sociallink {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sociallink strong {
    margin-bottom: 5px;
    margin-top: 5px;
}

.sociallink span {
    width: 15px;
    margin-right: 7px;
}

.themes {
    position: absolute;
    display: flex;
    column-gap: 15px;

    top: 0.5rem;
    right: 2rem;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

.theme_button {
    display: flex;
    flex-direction: row;
    column-gap: 3px;
}

.theme_button .box::before {
    content: "□";
}

.theme_button.is-selected .box::before {
    content: "■";
}

.theme_button > .text {
    font-family: 'Linik Sans ExtraLight', monospace;
}